header {
  @extend %flex-header;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;
  font-family: Nunito;

  a {
    text-decoration: none;
    color: white;
  }

}

main {
  height: calc(100vh - 5rem);

}

.discounts-container {
  margin-top: 2rem; 
  @extend %flex-products;
  img {
    width: 10rem;
    height: 10rem;
  }
}

.products-container {
  margin-top: 2rem; 
  @extend %flex-products;
  img {
    width: 10rem;
    height: 10rem;
  }
}