%flex-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

%flex-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

%flex-cart-table {
  display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
}
